
/* Your CSS Code here. */
form{
	border: 1px solid black;
	width:400px;
	padding: 25px;
	border-radius: 25px;
}
label{
	font-weight: bold;
	/* margin-top: 10px */
}
input[type="text"],
input[type="date"],
input[type="number"],
input[type="password"],
input[type="url"],
select{
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border-radius: 8px;
}
button{
	width: 100%;
	padding: 8px;
	background-color: #007bff;
	font-weight: bold;
	font-size: 15px;
	color: white;
	border: none;
	border-radius: 4px;
}